{{- if .Values.networkPolicy.enabled }}
apiVersion: "cilium.io/v2"
kind: CiliumNetworkPolicy
metadata:
  name: {{ include "tang.fullname" . }}-backup
  labels:
    {{- include "tang.labels" . | nindent 4 }}
spec:
  endpointSelector:
    matchLabels:
      {{- include "tang.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: backup
  egress:
    - toEndpoints:
        - matchLabels:
            "k8s:io.kubernetes.pod.namespace": kube-system
            "k8s:k8s-app": kube-dns
      toPorts:
        - ports:
            - port: "53"
              protocol: UDP
            - port: "53"
              protocol: TCP
    - toFQDNs:
        - matchName: {{ .Values.backup.s3.endpoint | trimPrefix "https://" | trimPrefix "http://" | splitList "/" | first | quote }}
      toPorts:
        - ports:
            - port: "443"
              protocol: TCP
{{- end }}
