{{- if .Values.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "tang.fullname" . }}
  labels:
    {{- include "tang.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{- include "tang.selectorLabels" . | nindent 6 }}
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - ports:
        - port: 8080
          protocol: TCP
---
apiVersion: "cilium.io/v2"
kind: CiliumNetworkPolicy
metadata:
  name: {{ include "tang.fullname" . }}-backup
  labels:
    {{- include "tang.labels" . | nindent 4 }}
spec:
  endpointSelector:
    matchLabels:
      {{- include "tang.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: backup
  egress:
    - toEndpoints:
      - matchLabels:
          "k8s:io.kubernetes.pod.namespace": kube-system
          "k8s:k8s-app": kube-dns
      toPorts:
        - ports:
           - port: "53"
             protocol: ANY
          rules:
            dns:
              - matchPattern: "*"
    - toFQDNs:
        - matchName: {{ .Values.backup.s3.endpoint | trimPrefix "https://" | trimPrefix "http://" | splitList "/" | first | quote }}
      toPorts:
        - ports:
            - port: "443"
              protocol: TCP
{{- end }}
